.ant-btn.btn-icon-doc {
	background: transparent;
	border: 0;
	outline: none;
	border: 0;
}

.ant-btn.btn-icon-doc:hover,
.ant-btn.btn-icon-doc:focus,
.ant-btn.btn-icon-doc:active {
	background: transparent;
	border: 0;
	outline: none;
	border: 0;
}