.ant-btn.upload-file-button:hover,
.ant-btn.upload-file-button:focus,
.ant-btn.upload-file-button:active,
.ant-btn.upload-file-button {
	margin-top: 10px;
	margin-bottom: 52px;
	border: 0;
	background: transparent;
	color: #004F9E;
	box-shadow: none;
	padding: 0;
}